{% extends 'base.html' %}

{% block title %}
    Expense Category
{% endblock title %}
{% block content %}
    <h1>Expense Category</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
